{%extends 'base.html'%}
{%load static%}

{%block content%}

    <section class="contenedorAgregarPublicacion">
        <div class="contenidoAgregarPublicacion">
            <div class="tituloAgregarPublicacion">
                <p>¡Sube una foto y añade una descripción para el pie de foto así tus amigos estan al día con su feed!</p>
            </div>
            <form class="formAgregarPublicacion mt-4" method="post" enctype="multipart/form-data">
                {% csrf_token %}
    
                <div class="form-group mb-3">
                    <label for="id_imagen" class="profile-picture-container d-flex flex-column m-auto text-light">
                        Sube una foto
                    </label>
                    <input class="btn btn-outline-primary w-100" type="file" name="imagen" id="id_imagen" accept="image/*" required style="cursor: pointer;">
                </div>
                
                <div class="form-group mb-3">
                    <label class="text-light for="id_descripcion">Descripción</label>
                    <textarea name="descripcion" id="id_descripcion" class="form-control" rows="4" placeholder="Añade una descripción"></textarea>
                </div>
        
                <button type="submit" class="btn btn-outline-light">Subir publicación</button>
            </form>
        </div>
    </section>

    
{%endblock%}