{%extends 'base.html'%}
{%load static%}

{%block content%}

    <section class="contenedorAgregarPublicacion">
        <div class="contenidoAgregarPublicacion">
            <form class="formAgregarPublicacion" method="post" enctype="multipart/form-data">
                {% csrf_token %}
    
                <div class="form-group mb-3">
                    <label for="id_imagen" class="profile-picture-container d-flex flex-column m-auto text-light fw-bold">
                        Sube una foto
                        <img width="80" height="80" src="https://img.icons8.com/?size=100&id=uOYhvkrf2DiW&format=png&color=FFFFFF" alt="add-image--v1" style="cursor: pointer;"/>
                    </label>
                    <input class="d-none" type="file" name="imagen" id="id_imagen" accept="image/*" required style="cursor: pointer;">
                </div>
                
                <div class="form-group mb-3 descripcion-publicacion">
                    <label class="text-light fw-bold for="id_descripcion">Descripción</label>
                    <textarea name="descripcion" id="id_descripcion" class="form-control" placeholder="Añade una descripción"></textarea>
                </div>
        
                <button type="submit" class="btn btn-success">Subir publicación</button>
            </form>
        </div>
    </section>

    <section class="contenedorSinInternet d-none flex-column justify-content-center align-items-center gap-5"> 
        <img src="https://img.icons8.com/?size=100&id=dtKaM9MjnkIN&format=png&color=000000" alt="fotoSinInternet">
        <p class="text-light">No se ha encontrado una red WI-FI, por favor intente conectarse.</p>
    </section>
    
{%endblock%}