{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} SocialByte {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link rel="stylesheet" href="{% static 'css/hover.css' %}">
</head>
<body>
    
    {% if request.path != '/' and request.path != '/registro/' and request.path != '/crear-perfil/' %}
    <header id="header">
      <nav>
        <ul>
          <li>
            <a href="/inicio/">
              <img src="../static/img/logo.webp" alt="logoApp" class="logoNav">
            </a>
          </li>
          <li>
            <a class="hvr-bounce-to-right" href="/inicio/">
              <img src="https://img.icons8.com/?size=100&id=73&format=png&color=ffffff" alt="imgInicio" class="iconoSeccionNav">
            </a>
            <span class="text-light">Inicio</span>
          </li>
          <li>
            <button class="hvr-bounce-to-right btnBusquedaUsuarios" style="background-color: transparent; border:none;">
              <img src="https://img.icons8.com/?size=100&id=132&format=png&color=ffffff" class="iconoSeccionNav" alt="imgBuscarUsuario">
            </button>
            <form id="formBusqueda" action="/usuarios/" method="post">
              {% csrf_token %}
              <input class="form-control" type="text" name="buscador" placeholder="Usuario" required>
              <button class="btn btn-success" type="submit">Buscar</button>
            </form>
          </li>
          <li>
            <a class="hvr-bounce-to-right" href="/mis-amigos/">
              <img class="iconoSeccionNav" src="https://img.icons8.com/?size=100&id=cykh8BZMTKkb&format=png&color=ffffff" alt="imgMisAmigos">
            </a>
            <span class="text-light">Mis amigos</span>
          </li>
          <li>
            <a class="hvr-bounce-to-right" href="/agregar-publicacion/">
              <img src="https://img.icons8.com/?size=100&id=24717&format=png&color=ffffff" alt="imgAgregarPublicacion" class="iconoSeccionNav">
            </a>
            <span class="text-light">Agregar publicación</span>
          </li>
          <li>
            <a class="hvr-bounce-to-right" href="/mi-perfil/">
              <img src="https://img.icons8.com/?size=100&id=23264&format=png&color=ffffff" alt="imgMiPerfil" class="iconoSeccionNav">
            </a>
            <span class="text-light">Mi perfil</span>
          </li>
          <li>
            <a class="hvr-bounce-to-right" href="/cerrar-sesion/">
              <img src="https://img.icons8.com/?size=100&id=2445&format=png&color=ffffff" alt="imgCerrarSesion" class="iconoSeccionNav">
            </a>
            <span class="text-light">Cerrar sesión</span>
          </li>
        </ul>
      </nav>
    </header>
    {% endif %}

    {% block content %}
    {% endblock %}

    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>