{%extends 'base.html'%}

{%load static%}

{%block content%}

    <section class="contenedorClaveNueva">
        <form action="{% url 'cambiar-clave' usuario.id %}" method="post">
            {%csrf_token%}
            <input type="password" name="claveNueva">
            <button>Cambiar</button>
        </form>

        {%if usuarioNoExistente%}
            <p>{{usuarioNoExistente}}/p>
        {%endif%}

        {%if tokenExpirado%}
            <p>{{tokenExpirado}}</p>
        {%endif%}

        {%if cambioCorrecto%}
            <p>{{cambioCorrecto}}</p>
        {%endif%}
    </section>

{%endblock%}