{%extends 'base.html'%} {%load static%} {%block content%}

<section class="contenedorClaveNueva">
  <h1>Nueva contraseña</h1>
  <div class="contenidoClaveNueva">
    <form action="{% url 'cambiar-clave' usuario.id %}" method="post">
      {%csrf_token%}
      <input type="password" name="claveNueva" />
      <button>Cambiar</button>
    </form>
    {%if usuarioNoExistente%}
    <p class="mensaje">
      {{usuarioNoExistente}}/p> {%endif%} {%if tokenExpirado%}
    </p>

    <p class="mensaje">{{tokenExpirado}}</p>
    {%endif%} {%if cambioCorrecto%}
    <p class="mensaje">{{cambioCorrecto}}</p>
    {%endif%}
  </div>
</section>

{%endblock%}
