{%extends 'base.html'%}

{%load static%}

{%block title%} Crea tu perfil {%endblock%}

{% block content %}

    <section class="contenedorCrearPerfil">
        <div class="contenidoCrearPerfil" data-aos="zoom-in" data-aos-duration="1000">
            <div class="textoCrearPerfil">
                <h1 class="tituloCrearPerfil">¡Gracias por haberte registrado en SocialByte!</h1>
                <p class="parrafoCrearPerfil">¡Estamos emocionados de tenerte aquí! Completa tu perfil y empieza a disfrutar la en nuestra red social.</p>
            </div>
            <div class="contenedorFormCrearPerfil" >
                <form class="formCrearPerfil mt-3" method="post" enctype="multipart/form-data">
                {% csrf_token %}
        
                    <div class="form-group mb-3">
                        <label for="id_imagen" class="profile-picture-container d-flex flex-column m-auto">
                            Sube una foto de perfil
                            <img class="inputImagen" width="50" height="50" src="https://img.icons8.com/fluency/50/add-camera.png" alt="add-camera"/>
                        </label>
                        <input type="file" name="imagen" id="id_imagen" class="d-none" accept="image/*" required>
                    </div>
                    
                    <div class="form-group mb-3">
                        <label class="text-dark" for="id_nombre">Tu nombre</label>
                        <input type="text" name="nombre" id="id_nombre" class="form-control" placeholder="Ingresa tu nombre" required>
                    </div>
        
                    <div class="form-group mb-3">
                        <label class="text-dark" for="id_nombre">Tu apellido</label>
                        <input type="text" name="apellido" id="id_apellido" class="form-control" placeholder="Ingresa tu apellido" required>
                    </div>
                    
                    <div class="form-group mb-3">
                        <label class="text-dark" for="id_descripcion">Descripción</label>
                        <textarea name="descripcion" id="id_descripcion" class="form-control" rows="4" placeholder="Cuéntanos sobre ti"></textarea>
                    </div>
            
                    <button type="submit" class="btn btn-primary">Crear Perfil</button>
                </form>
            </div>
        </div>
    </section>

{% endblock %}