{% extends 'base.html' %}

{% load static %}

{% block content %}

    <section class="contenedorLogin" id="contenedorLogin">
        <div class="container d-flex flex-column p-4 m-auto justify-content-center align-items-center ingresoMensajeBienvenida">
            <h1 class="tituloBienvenida">Bienvenido a SocialByte</h1>
            <img class="mt-3" src="{% static 'img/logo.webp' %}" alt="Logo SocialByte">
        </div>

        <div class="container mt-4 d-flex flex-column justify-content-center align-items-center m-auto h-100">
            <form method="post" action="/" class="formLogin">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label text-light">Nombre de usuario</label>
                    <input type="text" name="username" class="form-control" id="username" placeholder="Ingrese su usuario" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label text-light">Contraseña</label>
                    <input type="password" class="form-control" id="password" name="password" required placeholder="Ingrese su contraseña">
                </div>
                <div class="mb-3">
                    <label class="form-label text-light" for="sessionActiva">Mantener la sesión iniciada</label>
                    <input type="checkbox" name="sessionActiva" id="sessionActiva" value="on" {% if request.POST.sessionActiva %}checked{% endif %}>
                </div>
                <button type="submit" class="btn btn-primary">Ingresar</button>
            </form>
            <p class="text-light mt-3">O si no tienes cuenta <a class="btn btn-primary" href="registro/">Regístrate</a></p>
            {% if errorCredenciales %}
                <p class="text-danger fw-bold">{{errorCredenciales}}</p>
            {% endif %}
        </div>
    </section>

    <section class="contenedorSinInternet d-none flex-column justify-content-center align-items-center gap-5"> 
        <img src="https://img.icons8.com/?size=100&id=dtKaM9MjnkIN&format=png&color=000000" alt="fotoSinInternet">
        <p class="text-light">No se ha encontrado una red WI-FI, por favor intente conectarse.</p>
    </section>

{% endblock %}