{% extends 'base.html' %}

{% load static %}

{% block content %}

    <section class="contenedorLogin" id="contenedorLogin">
        <div class="container d-flex flex-column p-4 m-auto justify-content-center align-items-center ingresoMensajeBienvenida">
            <h1 class="tituloBienvenida">Bienvenido a SocialByte</h1>
            <img class="mt-3" src="{% static 'img/logo.webp' %}" alt="Logo SocialByte">
        </div>

        <div class="container mt-1 d-flex flex-column justify-content-center align-items-center m-auto h-100">
            <form method="post" action="/" class="formLogin">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label text-light">Nombre de usuario</label>
                    <input type="text" name="username" class="form-control" id="username" placeholder="Ingrese su usuario" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label text-light">Contraseña</label>
                    <input type="password" class="form-control" id="password" name="password" required placeholder="Ingrese su contraseña">
                </div>
                <div class="mb-3">
                    <label class="form-label text-light" for="sessionActiva">Mantener la sesión iniciada</label>
                    <input type="checkbox" name="sessionActiva" id="sessionActiva" value="on" {% if request.POST.sessionActiva %}checked{% endif %}>
                </div>
                <div class="botonesIngreso d-flex justify-content-center align-items-center gap-3 mb-2">
                    <button type="submit" class="btn btn-primary">Ingresar</button>
                    <span class="text-light">o</span>
                    <a class="btn btn-warning" href="{%url 'registro'%}">Regístrate</a>
                </div>
            </form>
            <div>
                <button class="btnOlvidarClave">¿No recuerdas tu contraseña?</button>
            </div>
            <div id="contenedorCambiarClave">
                <button class="btnCerrarContenedorCambiarClave">
                   Cerrar
                </button>
                <h1>Ingreso de clave nueva</h1>
                <form action="{%url 'cambiar-clave' %}" method="post">
                    {% csrf_token %}
                    <input type="email" name="email" class="form-control" id="email" placeholder="Ingrese su e-mail" required>
                    <input type="password" class="form-control" id="password1" name="password1" required placeholder="Ingrese su nueva clave">
                    <input type="password" class="form-control" id="password2" name="password2" required placeholder="Ingrese nuevamente la clave nueva">
                    <button type="submit" class="btn btn-primary">Cambiar</button>
                </form>
            </div>
            {% if errorCredenciales %}
                <p class="text-danger fw-bold">{{errorCredenciales}}</p>
            {% endif %}
            {% if mensajeExito %}
                    <p class="text-success fw-bold mt-3 bg-light w-100 text-center p-2">{{mensajeExito}}</p>
            {% endif %}
            {% if errorClavesNoIguales %}
                    <p class="text-danger fw-bold mt-3 bg-light w-100 text-center p-2">{{errorClavesNoIguales}}</p>
            {% endif %}
            {%if errorEmailNoExistente %}
                    <p class="text-danger fw-bold mt-3 bg-light w-100 text-center p-2">{{errorEmailNoExistente}}</p>
            {% endif %}
            {% if errorNoConfirmacion %}
                    <p class="text-danger fw-bold mt-3 bg-light w-100 text-center p-2">{{errorNoConfirmacion}}</p>
            {% endif %}
        </div>
    </section>

    <section class="contenedorSinInternet d-none flex-column justify-content-center align-items-center gap-5"> 
        <img src="https://img.icons8.com/?size=100&id=dtKaM9MjnkIN&format=png&color=000000" alt="fotoSinInternet">
        <p class="text-light">No se ha encontrado una red WI-FI, por favor intente conectarse.</p>
    </section>

{% endblock %}