{%extends 'base.html'%}
{%load static%}

{% block title %} Inicio {% endblock %}


{% block content %}

    <section class="contenedorInicio">
        {% if noHayPublicaciones %}
            <div class="sinPublicaciones">
                <img src="https://img.icons8.com/?size=100&id=78339&format=png&color=ffffff" alt="No hay publicaciones">
                <h2 class="text-light">No hay publicaciones disponibles</h2>
                <p class="text-light">Parece que aún no se ha compartido ninguna publicación. ¡Sé el primero en publicar!</p>
                <p class="text-light">También puedes agregar amigos desde el menú para ver las publicaciones de otras personas.</p>
                <a href="/agregar-publicacion/" class="btn btn-outline-light">Agregar publicación</a>
            </div>
        {% else %}
            {% for publicacion in publicaciones %}
                <div class="contenedor-publicacion">
                    <div class="publicacion">
                        <h2>{{publicacion.user}}</h2>
                        <img src="{{publicacion.imagen.url}}" alt="fotoPublicacion">
                        <p>{{publicacion.descripcion}}</p>
                        <div class="publicacion-operaciones">
                            <form 
                                hx-post="{% url 'me_gusta' publicacion.id %}" 
                                hx-target=".contenedor-btnLike-{{publicacion.id}}" 
                                hx-swap="outerHTML"
                                hx-trigger="submit"
                                method="post">
                                {% csrf_token %}
                                <div class="contenedor-btnLike-{{publicacion.id}}">
                                    <span id="likes-{{ publicacion.id }}">{{ publicacion.likes }} Me gustas</span>
                                    <input class="btn-like {% if request.user in publicacion.liked_by.all %}liked{% endif %}" type="submit" value="❤️">
                                </div>
                            </form>
                            <button class="btn btn-outline-info">💬</button>
                        </div>
                        <span>{{publicacion.fechaPublicacion|date:"d-m-Y"}}</span>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        <div class="btnPublicar">
            <a href="/agregar-publicacion/"><img src="https://img.icons8.com/?size=100&id=IA4hgI5aWiHD&format=png&color=000000" alt="iconoAgregarPublicacion"></a>
        </div>
    </section>

{% endblock %}