{%extends 'base.html'%}
{%load static%}

{% block title %} Inicio {% endblock %}


{% block content %}

    <section class="contenedorInicio">
        {% if noHayPublicaciones %}
            <div class="sinPublicaciones">
                <img src="https://img.icons8.com/?size=100&id=78339&format=png&color=000000" alt="No hay publicaciones">
                <h2>No hay publicaciones disponibles</h2>
                <p>Parece que aún no se ha compartido ninguna publicación. ¡Sé el primero en publicar!</p>
                <p>También puedes agregar amigos desde el menú para ver las publicaciones de otras personas.</p>
                <a href="/agregar-publicacion/" class="btn btn-outline-primary">Agregar publicación</a>
            </div>
        {% endif %}
        <div class="btnPublicar">
            <a href="/subir-publicacion/"><img src="https://img.icons8.com/?size=100&id=IA4hgI5aWiHD&format=png&color=000000" alt="iconoAgregarPublicacion"></a>
        </div>
    </section>

{% endblock %}