{%extends 'base.html'%}

{% load static %}

{% block content %}
    <section class="contenedorMiPerfil">
        <form class="formMiPerfil" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="encabezadoPerfil">
                <div class="form-group mb-3 contenedorFotoPerfil">
                    <img class="fotoPerfil" src="{{ form.instance.imagen.url }}" alt="fotoPerfil">
                    <label for="id_imagen" class="editarFotoBtn">
                        <img src="https://img.icons8.com/?size=100&id=8192&format=png&color=000000" alt="">
                    </label>
                    <input type="file" name="imagen" id="id_imagen" class="d-none" accept="image/*" required>
                </div>
                <div class="datos-cuenta d-flex flex-column gap-2">
                    <h2 class="text-light">@{{user.username}}</h2>
                    <strong class="text-light">{{user.perfil.amigos.count}} amigos</strong>
                    <span class="text-light">{{cantidadPublicaciones}} publicaciones</span>
                </div>
            </div>

            <div class="datos-personales">
                <div class="nombre-apellido">
                    <div class="form-group mb-3">
                        <label class="text-light" for="nombre">Nombre</label>
                        <input class="form-control" type="text" name="nombre" id="nombre" placeholder="ingrese su nombre" value="{{form.instance.nombre}}">
                    </div>
            
                    <div class="form-group mb-3">
                        <label class="text-light" for="apellido">Apellido</label>
                        <input class="form-control" type="text" name="apellido" id="apellido" placeholder="ingrese su apellido" value="{{form.instance.apellido}}">
                    </div>
                </div>
                <div class="descripcion">
                    <div class="form-group mb-3">
                        <label class="text-light for="id_descripcion">Descripción</label>
                        <textarea name="descripcion" id="id_descripcion" class="form-control" rows="4" placeholder="Añade una descripción">{{form.instance.descripcion}}</textarea>
                    </div>    
                </div>
            </div>
            
            <button type="submit" class="btn btn-primary btnEditarPerfil">Editar perfil</button>
         </form>

         <section class="misPublicaciones">
            {%if misPublicaciones%}
                {% for publicacion in misPublicaciones %}
                        <div class="miPublicacion">
                            <h2>{{publicacion.autor.username}}</h2>
                            <img src="{{publicacion.imagen.url}}" alt="fotoPublicacion">
                            <p>{{publicacion.descripcion}}</p>
                            <div class="publicacion-operaciones">
                                <form 
                                    hx-post="{% url 'me_gusta' publicacion.id %}" 
                                    hx-target=".contenedor-btnLike-{{publicacion.id}}" 
                                    hx-swap="outerHTML"
                                    hx-trigger="submit"
                                    method="post">
                                    {% csrf_token %}
                                    <div class="contenedor-btnLike-{{publicacion.id}}">
                                        <span class="text-light" id="likes-{{ publicacion.id }}">{{ publicacion.likes }} Me gustas</span>
                                        <input class="btn-like {% if request.user in publicacion.liked_by.all %}liked{% endif %}" type="submit" value="❤️">
                                    </div>
                                </form>
                                <button class="btn btn-outline-info">💬</button>
                            </div>
                            <span class="text-light">{{publicacion.fechaPublicacion|date:"d-m-Y"}}</span>
                        </div>
                {% endfor %}
            {%else%}
                <div class="sinPublicaciones">
                    <img src="https://img.icons8.com/?size=100&id=78339&format=png&color=ffffff" alt="No hay publicaciones">
                    <h2 class="text-light">No hay publicaciones disponibles</h2>
                    <p class="text-light">Parece que aún no se ha compartido ninguna publicación en tu perfil!</p>
                    <a href="/agregar-publicacion/" class="btn btn-outline-light">Agregar publicación</a>
                </div>
            {%endif%}
         </section>
    </section>
    
{% endblock %}