{%extends 'base.html'%}

{% load static %}

{% block content %}
    <section class="contenedorMiPerfil">
        <form class="formMiPerfil" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="encabezadoPerfil">
                <div class="form-group mb-3 contenedorFotoPerfil">
                    <img class="fotoPerfil" src="{{ form.instance.imagen.url }}" alt="fotoPerfil">
                    <label for="id_imagen" class="editarFotoBtn">
                        <img src="https://img.icons8.com/?size=100&id=8192&format=png&color=000000" alt="">
                    </label>
                    <input type="file" name="imagen" id="id_imagen" class="d-none" accept="image/*" required>
                </div>
                <div class="datos-cuenta d-flex flex-column gap-2">
                    <h2 class="text-light">@{{user.username}}</h2>
                    <strong class="text-light">{{user.perfil.amigos.count}} amigos</strong>
                    <span class="text-light">{{cantidadPublicaciones}} publicaciones</span>
                </div>
            </div>

            <div class="datos-personales">
                <div class="nombre-apellido">
                    <div class="form-group mb-3">
                        <label class="text-light" for="nombre">Nombre</label>
                        <input class="form-control" type="text" name="nombre" id="nombre" placeholder="ingrese su nombre" value="{{form.instance.nombre}}">
                    </div>
            
                    <div class="form-group mb-3">
                        <label class="text-light" for="apellido">Apellido</label>
                        <input class="form-control" type="text" name="apellido" id="apellido" placeholder="ingrese su apellido" value="{{form.instance.apellido}}">
                    </div>
                </div>
                <div class="descripcion">
                    <div class="form-group mb-3">
                        <label class="text-light for="id_descripcion">Descripción</label>
                        <textarea name="descripcion" id="id_descripcion" class="form-control" rows="4" placeholder="Añade una descripción">{{form.instance.descripcion}}</textarea>
                    </div>    
                </div>
            </div>
            
            <button type="submit" class="btn btn-primary btnEditarPerfil">Editar perfil</button>
         </form>
    </section>
    
{% endblock %}