{%extends 'base.html'%}
{%load static%}

{%block content%}

    <section class="contenedorMisAmigos">
        {%if hayAmigos%}
            <table class="table text-center table-striped table-bordered table-responsive-sm table-info">
                <thead>
                    <tr>
                        <th scope="col">Usuario</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Operación</th>
                    </tr>
                </thead>
                <tbody>
                    {%for amigo in amigos%}
                        <tr>
                            <td>
                                <img src="{{amigo.perfil.imagen.url}}" alt="foto de {{amigo.username}}" width="50" style="border-radius: 9999px;">
                                @{{amigo.username}}
                            </td>
                            <td>{{amigo.perfil.nombre}}</td>
                            <td>{{amigo.perfil.apellido}}</td>
                            <td>
                                <form action="/eliminar-amigo/" method="post" onsubmit="return confirm('¿Deseas realmente eliminar a {{amigo.username}} de tus amigos?')">
                                    {%csrf_token%}
                                    <input type="hidden" value="{{amigo.id}}" name="idAmigo">
                                    <input type="submit" class="btn btn-danger" value="Eliminar amigo">
                                </form>
                            </td>
                        </tr>
                    {%endfor%}
                </tbody>
            </table>
        {%else%}
            <p class="fs-3 d-flex justify-content-center align-items-center text-center">Parece que aún no se ha agregado a ningún amigo en tu perfil!</p>
        {%endif%}

    </section>



{%endblock%}