{%extends 'base.html'%}

{%load static%}

{%block content%}

    <section class="contenedorNovedades">
        <h1>Novedades</h1>

        {%if novedades%}
            <div class="novedades">
                {%for novedad in novedades%}
                    <div class="novedad">
                        <p>{{novedad.novedad}}</p>
                        <span>Fecha:{{novedad.fecha|date:"d-m-Y"}}</span>
                    </div>
                {%endfor%}
            </div>
        {%else%}
                <p>No hay novedades</p>
        {%endif%}
    
    </section>

{%endblock%}