{% extends 'base.html' %}
{% load static %}

{% block content %}

    <section class="contenedorRegistro" id="contenedorRegistro">
        <div class="container d-flex flex-column p-4 m-auto justify-content-center align-items-center ingresoMensajeBienvenida">
            <h1>Registro</h1>
            <img src="{% static 'img/logo.webp' %}" alt="Logo SocialByte">
        </div>

        <div class="container d-flex flex-column justify-content-center align-items-center m-auto h-100">
            <form action="/registro/" method="post" class="formLogin">
                {% csrf_token %}
                <div class="mb-2">
                    <label for="email" class="form-label text-light">Correo electrónico</label>
                    <input type="email" name="email" class="form-control" id="email" placeholder="Ingrese su e-mail" required>
                </div>
                <div class="mb-2">
                    <label for="username" class="form-label text-light">Nombre de usuario</label>
                    <input type="text" name="username" class="form-control" id="username" placeholder="Ingrese su nombre de usuario" required>
                </div>
                <div class="mb-2">
                    <label for="password1" class="form-label text-light">Contraseña</label>
                    <input type="password" class="form-control" id="password1" name="password1" required placeholder="Ingrese su contraseña">
                </div>
                <div class="mb-3">
                    <label for="password2" class="form-label text-light">Contraseña confirmación</label>
                    <input type="password" class="form-control" id="password2" name="password2" required placeholder="Ingrese su contraseña nuevamente">
                </div>
                <div class="botonesRegistro d-flex justify-content-center align-items-center gap-2">
                    <button type="submit" class="btn btn-primary">Regístrate</button>
                    <span class="text-light">o</span>
                    <a class="btn btn-light" href="/">Iniciá sesión</a>
                </div>
                
            </form>
            {% if errorUsuarioExistente %}
                <p class="text-danger fw-bold mt-3 bg-light w-100 text-center p-2">{{errorUsuarioExistente}}</p>
            {% endif %}
            {% if errorClavesNoIguales %}
                <p class="text-danger fw-bold mt-3 bg-light w-100 text-center p-2">{{errorClavesNoIguales}}</p>
            {% endif %}
            {% if errorEmailExistente %}
                <p class="text-danger fw-bold mt-3 bg-light w-100 text-center p-2">{{errorEmailExistente}}</p>
            {% endif %}
            {% if mensajeVerificacion %}
                <p class="text-success fw-bold mt-3 bg-light w-100 text-center p-2">{{mensajeVerificacion}}</p>
            {% endif %}
        </div>
    </section>

    <section class="contenedorSinInternet d-none flex-column justify-content-center align-items-center gap-5"> 
        <img src="https://img.icons8.com/?size=100&id=dtKaM9MjnkIN&format=png&color=000000" alt="fotoSinInternet">
        <p class="text-light">No se ha encontrado una red WI-FI, por favor intente conectarse.</p>
    </section>

{% endblock %}
