{% extends 'base.html' %}

{% load static %}

{% block content %}

    <section class="contenedorUsuario">
        <div class="datos-usuario">
            <img src="{{usuario.imagen.url}}" alt="{{usuario.nombre}}">
            <div class="nombre-usuario">
                <h1>@{{usuario.user.username}}</h1>
                <span><strong>Nombre:</strong> {{usuario.nombre}} <strong>Apellido:</strong> {{usuario.apellido}}</span>
                <p><strong>Descripción:</strong> {{usuario.descripcion}}</p>
                <p><strong>{{totalAmigos}} amigos</strong></p>
                <p><strong>{{totalPublicaciones}} publicaciones<p></p>
            </div>
        </div>
        <div class="publicaciones-usuario">
            {% for publicacion in publicaciones %}
                        <div class="publicacion-usuario">
                            <h2 class="text-light">{{publicacion.autor.username}}</h2>
                            <img src="{{publicacion.imagen.url}}" alt="fotoPublicacion">
                            <p class="text-light">{{publicacion.descripcion}}</p>
                            <div class="publicacion-operaciones">
                                <form 
                                    hx-post="{% url 'me_gusta' publicacion.id %}" 
                                    hx-target=".contenedor-btnLike-{{publicacion.id}}" 
                                    hx-swap="outerHTML"
                                    hx-trigger="submit"
                                    method="post">
                                    {% csrf_token %}
                                    <div class="contenedor-btnLike-{{publicacion.id}}">
                                        <span id="likes-{{ publicacion.id }}">{{ publicacion.likes }} Me gustas</span>
                                        <input class="btn-like {% if request.user in publicacion.liked_by.all %}liked{% endif %}" type="submit" value="❤️">
                                    </div>
                                </form>
                                <button class="btn btn-outline-info">💬</button>
                            </div>
                            <span class="text-light">{{publicacion.fechaPublicacion|date:"d-m-Y"}}</span>
                        </div>
            {% endfor %}
            {%if noHayPublicaciones%}
                <p class="d-flex justify-content-center align-items-center text-center fs-3">{{noHayPublicaciones}}</p>
            {%endif%}
        </div>
    </section>

{% endblock %}