{% extends 'base.html' %}

{% load static %}

{% block content %}

    <section class="contenedorBusquedaUsuarios">
        <h1>Resultados de la busqueda</h1>
        <div class="usuarios">
            {% for usuario in usuarios %}
                <div class="usuario">
                    <div class="fotoPerfilUsuario">
                        <img src="{{ usuario.imagen.url }}" alt="foto de {{usuario.nombre}}">
                    </div>
                    
                    <div class="datos-usuario">
                        <a href="{% url 'usuario' usuario.id %}"><h2 class="text-light">{{ usuario.user.username }}</h2></a>
                        <p class="text-light">Nombre: {{ usuario.nombre }}</p>
                        <p class="text-light">Apellido: {{ usuario.apellido }}</p>
                        {%if usuario.user.id != request.user.id%}
                            <form 
                                hx-post="/agregar-amigos/" 
                                hx-target="#boton-{{ usuario.user.id }}" 
                                hx-swap="innerHTML"
                                method="post">
                                {% csrf_token %}
                                <input type="hidden" name="id_usuario" value="{{ usuario.user.id }}">
                                <button class="btn btn-success" id="boton-{{ usuario.user.id }}">
                                    {% if usuario.user in request.user.perfil.amigos.all %}
                                        Amigo
                                    {% else %}
                                        Agregar a amigos
                                    {% endif %}
                                </button>
                            </form>
                        {%endif%}
                    </div>
                </div>
                
            {% endfor %}
        </div>
    
        {% if usuariosNoEncontrados %}
            <section class="contenedorUsuariosNoEncontrados">
                <p>{{ usuariosNoEncontrados }}</p>
            </section>
        {% endif %}
    </section>

    <section class="contenedorSinInternet d-none flex-column justify-content-center align-items-center gap-5"> 
        <img src="https://img.icons8.com/?size=100&id=dtKaM9MjnkIN&format=png&color=000000" alt="fotoSinInternet">
        <p class="text-light">No se ha encontrado una red WI-FI, por favor intente conectarse.</p>
    </section>

{% endblock %}