{% extends 'base.html' %}

{% load static %}

{% block content %}

    <section class="contenedorBusquedaUsuarios">
        <h1>Resultados de la busqueda</h1>
        {% for usuario in usuarios %}
            <h2>{{ usuario.user.username }}</h2>
            <p>Nombre: {{ usuario.nombre }}</p>
            <p>Apellido: {{ usuario.apellido }}</p>
            <form action="/agregar-amigos/" method="post">
                {% csrf_token %}
                <button class="btn btn-success">Agregar a amigos</button>
                <input type="hidden" name="id_usuario" value="{{usuario.id}}">
            </form>
        {% endfor %}

        {% if usuariosNoEncontrados %}
            <p>{{ usuariosNoEncontrados }}</p>
        {% endif %}
    </section>


{% endblock %}