{% extends 'base.html' %}

{% load static %}

{% block content %}

    <section class="contenedorBusquedaUsuarios">
        <h1>Resultados de la busqueda</h1>
        <div class="usuarios">
            {% for usuario in usuarios %}
                <div class="usuario">
                    <div class="fotoPerfilUsuario">
                        <img src="{{ usuario.imagen.url }}" alt="foto de {{usuario.nombre}}">
                    </div>
                    
                    <div class="datos-usuario">
                        <a href="{% url 'usuario' usuario.id %}"><h2>{{ usuario.user.username }}</h2></a>
                        <p>Nombre: {{ usuario.nombre }}</p>
                        <p>Apellido: {{ usuario.apellido }}</p>
                        <form 
                            hx-post="/agregar-amigos/" 
                            hx-target="#mensaje-{{ usuario.user.id }}" 
                            hx-swap="innerHTML"
                            method="post"
                            action="/agregar-amigos/">
                            {% csrf_token %}
                            <input type="hidden" name="id_usuario" value="{{usuario.user.id}}">
                            <button class="btn btn-success">Agregar a amigos</button>
                        </form>
                        <p id="mensaje-{{ usuario.user.id }}"></p>
                    </div>
                </div>
                
            {% endfor %}
        </div>
    
        {% if usuariosNoEncontrados %}
            <p class="text-center d-flex justify-content-center align-items-center fs-4">{{ usuariosNoEncontrados }}</p>
        {% endif %}
    </section>


{% endblock %}