{% extends 'base.html' %}

{% load static %}

{% block content %}

    <section class="contenedorUsuario">
        <div class="usuario-datos">
            <img src="{{usuario.imagen.url}}" alt="{{usuario.nombre}}">
            <div class="nombre-usuario">
                <h1>@{{usuario.user.username}}</h1>
                <span>{{usuario.nombre}} {{usuario.apellido}}</span>
                <p><strong>Descripción:</strong> {{usuario.descripcion}}</p>
                <p><strong>{{totalAmigos}} amigos</strong></p>
                <p><strong>{{totalPublicaciones}} publicaciones<p></p>
                {% if usuario.user.id != request.user.id %}
                    <form 
                        hx-post="/agregar-amigos/" 
                        hx-target="#boton-{{ usuario.user.id }}" 
                        hx-swap="innerHTML"
                        method="post">
                        {% csrf_token %}
                        <input type="hidden" name="id_usuario" value="{{ usuario.user.id }}">
                        <button class="btn btn-success" id="boton-{{ usuario.user.id }}">
                            {% if esAmigo %}
                                Amigo
                            {% else %}
                                Agregar a amigos
                            {% endif %}
                        </button>
                    </form>
                {% endif %}
            </div>
            
        </div>
        <div class="publicaciones-usuario">
            {% for publicacion in publicaciones %}
                        <div class="publicacion-usuario">
                            <h2 class="text-light">{{publicacion.autor.username}}</h2>
                            <figure>
                                <img src="{{publicacion.imagen.url}}" alt="fotoPublicacion">
                            </figure>
                            <div class="publicacion-operaciones d-flex align-items-center justify-content-center mb-3">
                                <form
                                    class="d-flex justify-content-center align-items-center gap-2" 
                                    hx-post="{% url 'me_gusta' publicacion.id %}" 
                                    hx-target=".contenedor-btnLike-{{publicacion.id}}" 
                                    hx-swap="outerHTML"
                                    hx-trigger="submit"
                                    method="post">
                                    {% csrf_token %}
                                    <div class="contenedor-btnLike-{{publicacion.id}} d-flex align-items-center justify-content-center gap-2">
                                        <span id="likes-{{ publicacion.id }}">{{ publicacion.likes }}</span>
                                        <button class="btn-like {% if request.user in publicacion.liked_by.all %}liked{% endif %}" type="submit">❤️</button>
                                    </div>
                                </form>
                                <form class="datosComentarios d-flex align-items-center justify-content-center gap-2" method="post" action="/agregar-comentario/" hx-post="{% url 'agregar-comentario' %}" hx-target=".comentarios-{{ publicacion.id }}" hx-swap="outerHTML"> 
                                    {% csrf_token %}
                                    <input type="hidden" name="publicacion_id" value="{{publicacion.id}}">
                                    <input type="text" name="comentario" class="form-control inputComentario" placeholder="Escribe un comentario" required>
                                    <div class="infoComentarios d-flex gap-3 align-items-center justify-content-center">
                                        <button class="btnComentario" type="submit">💬</button>
                                    </div>
                                </form>
                            </div>
                            
                            <p>{{publicacion.descripcion}}</p>
                            <span>{{publicacion.fechaPublicacion|date:"d-m-Y"}}</span>

                            {%include 'comentarios.html' with publicacion=publicacion %}
                        </div>
            {% endfor %}
        </div>
        {%if noHayPublicaciones%}
            <p class="d-flex justify-content-center align-items-center text-center fs-3">{{noHayPublicaciones}}</p>
        {%endif%}
    </section>

{% endblock %}