{% extends 'base.html' %}
{%load static%}

{% block content %}

    <section class="contenedorVerificarUsuario">
        <h1 class="text-light">Verificación de cuenta</h1>
        <img src="../static/img/logo.webp" alt="logoSocialByte" class="logoVerificarUsuario">
        <form action="/confirmar-usuario/" method="post">
            <div class="mb-3">
                <label for="codigo" class="form-label text-light">Código de verificación</label>
                <input type="text" class="form-control" id="codigo" name="codigo" required placeholder="Ingrese su código de verificación">
                <button class="btn btn-success">Verificar</button>
            </div>
        </form>
    </section>


{% endblock %}