{% extends 'base.html' %}
{%load static%}

{% block content %}

    <section class="contenedorVerificarUsuario">
        <h1 class="text-light">Verificación de cuenta</h1>
        <img src="../static/img/logo.webp" alt="logoSocialByte" class="logoVerificarUsuario">
        <div class="container d-flex flex-column justify-content-center align-items-center mt-4">
            <p class="text-light">Para verificar tu cuenta, ingresa el código de verificación que te hemos enviado a tu correo electrónico.</p>
            <p class="text-light">Si no has recibido el correo, verifica tu bandeja de entrada o revisa la carpeta de spam.</p>
        </div>
        
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="codigo" class="form-label text-light">Código de verificación</label>
                <input type="text" class="form-control" id="codigo" name="codigo" required placeholder="Ingrese su código de verificación">
                <button class="btn btn-success">Verificar</button>
            </div>
        </form>
        {% if errorCodigoIncorrecto %}
            <p class="text-danger fw-bold mt-3 bg-light w-100 text-center p-2">{{errorCodigoIncorrecto}}</p>
        {% endif %}
        {% if errorUsuarioNoExistente %}
            <p class="text-success fw-bold mt-3 bg-light w-100 text-center p-2">{{errorUsuarioNoExistente}}</p>
        {% endif %}
    </section>


{% endblock %}