@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body{
    font-family: "Roboto Mono", monospace;
}

.tituloNavbar{
    color: #fff;
    font-size: 50px;
}

.contenedorLogin{
    max-width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.40),rgba(0,0,0,0.17)), url(../img/fondoIngreso.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.ingresoMensajeBienvenida h1{
    color: #fff;
    letter-spacing: 2px;
}

.ingresoMensajeBienvenida img{
    width: 150px;
    border-radius: 30px;
    box-shadow: 5px 5px 20px #000;
}

.formLogin input{
    width: 350px;
}

.contenedorRegistro{
    max-width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.60),rgba(0,0,0,0.50)), url(../img/fondoRegistro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.btnPublicar{
    position: absolute;
    right: 60px;
    bottom: 50px;
    animation: movimiento ease-in-out 2s infinite;
}

@keyframes movimiento{
    0%,100%{
        transform: translateY(30px);
    }
    50%{
        transform: translateY(20px);
    }
}

.contenedorCrearPerfil{
    max-width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.60),rgba(0,0,0,0.50)), url(../img/fondoCrearPerfil.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.tituloCrearPerfil{
    color: #fff;
    text-align: center;
    padding-top: 45px;
}

.parrafoCrearPerfil{
    color: #fff;
    font-size: 14px;
    text-align: center;
}

.formCrearPerfil{
    width: 500px;
}

.inputImagen{
    cursor: pointer;
}

@media (max-width:800px){
    .tituloNavbar{
        display: none;
    }
    .contenedorLogin{
        min-height: 100vh;
    }
    .ingresoMensajeBienvenida{
        text-align: center;
    }
    .contenedorCrearPerfil{
        min-height: 120vh;
    }
    .parrafoCrearPerfil{
        width: 350px;
        margin: auto;
        margin-bottom: 15px;
    }
}