@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

body{
    font-family: "Roboto Mono", monospace;
}

header{
    width: 147px;
    height: 100vh;
    padding: 15px;
    position: fixed;
    top: 0;
    background: linear-gradient(150deg,#121a80,#101010,#000);
    box-shadow: 6px 5px 15px #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    transition: width 0.3s ease-in-out;
    z-index: 1;
}

.btnAbrirMenu{
    border: none;
    width: 70px;
    height: 70px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 20px;
    top: 20px;
}

.btnAbrirMenu i{
    font-size: 40px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnCerrarMenu{
    display: none;
}

.logoNav{
    width: 90px;
    border-radius: 999px;
    object-fit: cover;
}

nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

nav ul li button{
    padding: 10px;
    border-radius: 999px;
}

nav ul li a{
    text-decoration: none;
    padding: 10px;
}

nav .iconoSeccionNav{
    width: 38px;
}

nav .btnBusqueda{
    position: relative;
}

nav #formBusqueda{
    display: none;
    position: absolute;
    left: 90%;
    top: 0;
    width: 160px;
}

nav #formBusqueda input[type="text"]{
    width: 120px;
}

.btnBuscar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 40px;
}

.btnCerrarFormBusqueda{
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 9999px;
    background-color: #a52b1c;
    padding: 10px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li{
    position: relative;
}

nav ul li span{
    display: none;
    font-size: 14px;
}

nav ul li:hover span {
    display: block;
    position: absolute;
    top: 40%;
    left: 120%;
}

.contenedorLogin{
    max-width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.40),rgba(0,0,0,0.17)), url(../img/fondoIngreso.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.contenedorSinInternet{
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(220deg,#101010,#121a80);
}

.contenedorSinInternet img{
    width: 180px;
}

.contenedorSinInternet p{
    text-align: center;
}

.ingresoMensajeBienvenida h1{
    color: #fff;
    letter-spacing: 4px;
    font-family: "Tektur", sans-serif;
}

.ingresoMensajeBienvenida img{
    width: 118px;
    border-radius: 30px;
    box-shadow: 5px 5px 20px #000;
}

.btnOlvidarClave{
    background-color: transparent;
    color: #fff;
    font-size: 14px;
    border: none;
    display: block;
    margin: auto;
    cursor: pointer;
    margin-top: 10px;
}

.btnOlvidarClave:hover{
    text-decoration: underline;
}

.formLogin input{
    width: 300px;
}

.formLogin input[type="checkbox"]{
    width: initial;
}

#contenedorCambiarClave{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
    box-shadow: 0 0 0 100vmax rgba(0,0,0,0.70);
    position: absolute;
    top: 20%;
    background: linear-gradient(150deg,#121a80,#101010);
    color: #fff;
    border-radius: 30px;
    border: solid 3px #fff;
    display: none;
}

.btnCerrarContenedorCambiarClave{
    border: none;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 20px;
    top: 10px;
    text-decoration: underline;
}

#contenedorCambiarClave h1{
    font-family: "Tektur", sans-serif;
    font-size: 35px;
    text-align: center;
}

#contenedorCambiarClave form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#contenedorCambiarClave form input{
    width: 300px;
    font-size: 13px;
}

.contenedorRegistro{
    max-width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.60),rgba(0,0,0,0.50)), url(../img/fondoRegistro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.contenedorRegistro form input{
    width: 350px;
}

.contenedorVerificarUsuario{
    max-width: 100%;
    min-height: 100vh;
    background: linear-gradient(150deg,#2a588a,#101010,#000);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedorVerificarUsuario h1{
    color: #fff;
    font-family: "Tektur", sans-serif;
    font-size: 50px;
    text-align: center;
}

.contenedorVerificarUsuario img{
    width: 150px;
    border-radius: 30px;
    box-shadow: 5px 5px 20px #000;
}

.contenedorVerificarUsuario form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 300px;
    height: 220px;
}

.contenedorVerificarUsuario form input[type="text"]{
    width: 600px;
    margin-bottom: 20px;
}

.contenedorCrearPerfil{
    max-width: 100%;
    min-height: 100vh;
    background: linear-gradient(150deg,#2a588a,#101010,#000);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenidoCrearPerfil{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 800px;
    height: 500px;
    background-color: #fff;
}

.textoCrearPerfil{
    height: 500px;
    padding: 50px 15px 20px 15px;
    background: url(../img/textoCrearPerfil.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 40px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 400px;
}

.tituloCrearPerfil{
    color: #fff;
}

.parrafoCrearPerfil{
    color: #fff;
}

.contenedorFormCrearPerfil{
    background-color: #fff;
    height: 500px;
    overflow-y: hidden;
}

.formCrearPerfil{
    width: 400px;
}

.contenedorFormCrearPerfil form ::placeholder{
    color: #fff;
}

.contenedorFormCrearPerfil form{
    padding: 0px 0px 0px 60px;
}

.contenedorFormCrearPerfil form input{
    width: 300px;
    background-color: #000;
    color: #fff;
}

.contenedorFormCrearPerfil form textarea{
    width: 300px;
    background-color: #000;
    color: #fff;
}

.contenedorFormCrearPerfil form .inputImagen{
    cursor: pointer;
}

.contenedorInicio{
    min-height: 100vh;
    background: linear-gradient(to left,#4d3ea1,#103e6e,#000);
    padding-bottom: 50px;
}

.contenedorSinPublicaciones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 700px;
    height: 90vh;
}

.contenedorSinPublicaciones .sinPublicaciones{
    background-color: #04172c;
    padding: 20px;
    border: solid 2px #fff;
    box-shadow: 10px 15px 10px #000;
}

.contenedor-publicacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 38px;
}

.publicacion{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    width: 370px;
    padding: 15px;
    border: solid 2px #fff;
    font-family: "Tektur", sans-serif;
}

.publicacion h2{
    color: #fff;
    font-weight: lighter;
    font-size: 17px;
}

.publicacion img{
    width: 100%;
    display: block;
    object-fit: cover;
}

.publicacion p{
    color: #fff;
    margin-top: 10px;
}

.publicacion span{
    color: #fff;
}

.publicacion:hover{
    background-color: #00000054;
    box-shadow: 3px 3px 15px #000;;
}

.publicacion-operaciones{
    display: flex;
    gap: 5px;
    margin: 20px 0px 0px;
}

.publicacion-operaciones .btn-like{
    border: none;
    background-color: transparent;
    color: #fff;
    height: 30px;
    width: 30px;
    border: solid 1px #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.publicacion-operaciones .btn-like:hover{
    background-color: rgba(255, 0, 0, 0.575);
}

.publicacion-operaciones .liked{
    background-color: rgba(255, 0, 0, 0.541);
}

.publicacion-operaciones .datosComentarios .btnComentario{
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #559ae4;
}

.publicacion-operaciones .datosComentarios .btnComentario:hover{
    background-color: #3a7bb8;
}

.publicacion-operaciones .datosComentarios .inputComentario{
    width: 230px;
}

.contenedorAgregarPublicacion{
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.40),rgba(0,0,0,0.20)),url(../img/fondoContenedorAgregarPublicacion.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenidoAgregarPublicacion{
    display: flex;
    width: 850px;
    height: auto;
    border-radius: 20px;
    box-shadow: 10px 10px 20px #000;
    backdrop-filter: blur(10px);
    padding-top: 30px;
}

.contenedorMiPerfil{
    min-height: 100vh;
    min-width: 100%;
    background-color: #04172c;
}

.encabezadoPerfil{
    min-width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: linear-gradient(#121a80,#2129a5,#121a80,#04172c);
}

.encabezadoPerfil .fotoPerfil{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: solid 3px #ffffff;
    border-radius: 9999px;
}

.contenedorFotoPerfil{
    position: relative;
}

.encabezadoPerfil .editarFotoBtn{
    position: absolute;
    right: 10px;
    bottom: 0px;
}

.encabezadoPerfil .editarFotoBtn img{
    width: 50px;
    cursor: pointer;
    background-color: #fff;
    padding: 10px;
    border-radius: 15px;
}

.datos-personales{
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 40px;
    background-color: #04172c;
}

.btnEditarPerfil{
    display: block;
    margin: auto;
    margin-top: 25px;
}

.contenedorSinPublicacionesMiPerfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 700px;
    height: 55vh;
}

.contenedorSinPublicacionesMiPerfil .sinPublicaciones{
    background-color: #04172c;
    padding: 20px;
    border: solid 2px #fff;
    box-shadow: 10px 15px 10px #000;
}

.misPublicaciones{
    height: auto;
    width: 100%;
    display: grid;
    place-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
    padding: 50px 250px 40px 250px;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    background: linear-gradient(#04172c,#103e6e);
}

.formAgregarPublicacion{
    height: 400px;
    width: 650px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.miPublicacion{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 350px;
    height: 100%;
    padding: 15px;
    background-color: #00000054;
    box-shadow: 5px 5px 15px #000;
}

.miPublicacion h2{
    color: #fff;
    font-weight: lighter;
    font-size: 17px;
}

.miPublicacion p{
    color: #fff;
    margin-top: 15px;
}

.miPublicacion img{
    width: 100%;
}

.miPublicacion span{
    color: #fff;
}

.contenedorBusquedaUsuarios{
    width: 100%;
    min-height: 100vh;
    padding-bottom: 40px;
    background: linear-gradient(rgba(0,0,0,0.20),rgba(0,0,0,0.0)),url(../img/fondoContenedorUsuarios.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.contenedorBusquedaUsuarios h1{
    text-align: center;
    font-family: "Tektur", sans-serif;
    color: #fff;
    font-size: 50px;
    padding-top: 30px;
    border-bottom: solid 2px #fff;
}

.contenedorUsuariosNoEncontrados{
    width: 600px;
    height: 200px;
    background: linear-gradient(60deg,#ff1a1a,#e91b1b);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 30px;
    box-shadow: 6px 5px 15px #000;
    border: solid 2px #fff;
}

.contenedorUsuariosNoEncontrados p{
    color: #fff;
    font-size: 30px;
}

.usuarios{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 30px;
}

.usuario{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 600px;
    padding: 10px;
    background: linear-gradient(100deg,#101010,#04172c);
    border-radius: 40px;
    box-shadow: 5px 5px 15px #000;
}

.usuario .fotoPerfilUsuario img{
    width: 200px;
    height: 200px;
    border-radius: 1000px;
    object-fit: cover;
}

.contenedorUsuario{
    width: 100%;
    min-height: 100vh;
    padding-bottom: 50px;
}

.usuario-datos{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: linear-gradient(150deg,#ebf1c7,#84b3e5);
    padding: 10px;
    box-shadow: 5px 10px 15px #000;
}

.usuario-datos img{
    width: 200px;
    border-radius: 1000px;
}

.usuario-datos p{
    max-width: 600px;
}

.publicaciones-usuario{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 35px;
    place-items: center;
    align-items: start;
    gap: 40px;
    margin-left: 40px;
}

.publicaciones-usuario .publicacion-usuario{
    width: 350px;
    min-height: 300px;
    padding: 15px;
    background-color: #2129a5;
    box-shadow: 5px 5px 5px #000;
    border-radius: 30px;
}

.publicaciones-usuario .publicacion-usuario figure{
    overflow: hidden;
}

.publicaciones-usuario .publicacion-usuario img{
    width: 100%;
}

.publicaciones-usuario .publicacion-usuario img:hover{
    transform: scale(1.1);
    transition: .8s;
}

.publicacion-usuario p{
    margin-top: 15px;
}

.publicacion-usuario .publicacion-operaciones span{
    color: #fff;
}

.contenedorMisAmigos{
    padding-top: 30px;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(100deg,#3a7bb8,#121a80);
}

.contenedorMisAmigos h1{
    font-family: "Josefin Sans", sans-serif;
    color: #fff;
    font-size: 60px;
    border-bottom: solid 1px #fff;
}

.contenedorSinAmigos{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contenedorMisAmigos .sinAmigos{
    width: 600px;
    padding: 20px;
    border: solid 2px #fff;
    box-shadow: 10px 15px 10px #000;
    color: #fff;
}

.contenedorMisAmigos table{
    box-shadow: 5px 5px 15px #000;
    margin: auto;
    width: 1000px;
}

.contenedorNovedades{
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(-45deg, #6a93ff, #cce4ff, #93baff, #6a93ff);
}

.contenedorNovedades h1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 250px;
    font-size: 100px;
    color: #fff;
    font-family: "Unbounded", sans-serif;
    background: linear-gradient(#04172c,#090d47);
    box-shadow: 5px 15px 20px #000;
}

.novedades{
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-content: center;
    place-items: center;
    justify-content: center;
    padding-left: 90px;
}

.novedad{
    margin-top: 30px;
    width: 300px;
    height: 120px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(20deg,#121a80,#101010);
    box-shadow: 6px 10px 12px #000;
    border-radius: 20px;
    color: #fff;
}

.novedad:hover{
    transform: scale(1.1);
    transition: .8s;
}

@media (max-width:800px){
    .contenedorVerificarUsuario{
        height: auto;
    }
    .contenedorVerificarUsuario h1{
        font-size: 40px;
    }
    .contenedorVerificarUsuario img{
        width: 120px;
    }
    .contenedorVerificarUsuario form{
        margin-top: 20px;
        width: 100%;
        height: auto;
    }
    .contenedorVerificarUsuario form input[type="text"]{
        width: 350px;
    }
    header{
        display: none;
        padding: 0px;
        width: 70px;
        height: 100vh;
    }
    .enlaceMenu{
        display: none;
    }
    .btnAbrirMenu{
        display: block;
    }
    nav ul li{
        display: flex;
        justify-content: center;
        margin: auto;
        text-align: center;
        align-items: center;
    }
    .btnCerrarMenu{
        border: none;
        width: 45px;
        height: 45px;
        padding: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .btnCerrarMenu i{
        font-size: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    nav{
        align-items: center;
    }
    nav ul{
        align-items: center;
        gap: 28px;
    }
    nav .iconoSeccionNav{
        width: 35px;
    }
    nav #formBusqueda{
        display: none;
        position: absolute;
        left: 70%;
        top: 0;
        width: 160px;
    }
    nav #formBusqueda input[type="text"]{
        width: 100px;
    }
    .btnBuscar{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 75px;
        height: 40px;
    }
    .btnCerrarFormBusqueda{
        border: none;
        width: 30px;
        height: 30px;
        border-radius: 9999px;
        background-color: #a52b1c;
        padding: 10px;
        color: #fff;
        cursor: pointer;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .contenedorLogin{
        min-height: 100vh;
    }
    .ingresoMensajeBienvenida{
        text-align: center;
    }
    .contenedorCrearPerfil{
        min-height: 130vh;
    }
    .contenidoCrearPerfil{
        flex-direction: column;
        width: 350px;
        height: 200px;
        padding: 50px 30px 0px 30px;
    }
    .textoCrearPerfil{
        width: 350px;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
    }
    .parrafoCrearPerfil{
        width: 300px;
        margin: auto;
        margin-bottom: 15px;
    }
    .formCrearPerfil{
        width: 350px;
    }
    .contenedorFormCrearPerfil form{
        padding: 0px 0px 20px 20px;
    }
    .contenedorFormCrearPerfil form input{
        width: 300px;
        background-color: #000;
        color: #fff;
    }
    .contenedorInicio{
        padding-top: 70px;
    }
    .btnPublicar{
        right: 10px;
    }
    .contenedorSinPublicaciones{
        width: 345px;
    }
    .sinPublicaciones{
        text-align: center;
    }
    .publicacion{
        width: 350px;
    }
    .contenedorAgregarPublicacion{
        height: 100vh;
    }
    .contenidoAgregarPublicacion{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 35px 0 35px 0;
        width: 320px;
        padding: 15px;
    }
    .formAgregarPublicacion{
        width: 300px;
    }
    .contenedorMiPerfil{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        width: 100%;
        padding-top: 120px;
    }
    .contenedorMiPerfil .formMiPerfil{
        width: 100%;
    }
    .misPublicaciones{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
        margin-top: 45px;
    }
    .encabezadoPerfil .fotoPerfil{
        width: 160px;
    }
    .encabezadoPerfil .fotoPerfil img{
        width: 20px;
    }
    .datos-personales{
        display: flex;
        flex-direction: column;
        height: 300px;
        gap: 10px;
    }
    .btnEditarPerfil{
        margin-top: 35px;
    }
    .contenedorBusquedaUsuarios h1{
        font-size: 40px;
    }
    .usuario{
        display: flex;
        flex-direction: column;
        width: 300px;
        padding: 15px;
    }
    .contenedorUsuario{
        min-height: 100vh;
    }
    .usuario-datos{
        flex-direction: column;
    }
    .usuario-datos img{
        width: 200px;
    }
    .publicaciones-usuario{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contenedorMisAmigos{
        padding: 0px;
        background: linear-gradient(350deg,#3a7bb8,#121a80);
    }
    .contenedorSinAmigos{
        height: 600px;
    }
    .contenedorSinAmigos .sinAmigos{
        width: 400px;
    }
    .contenedorMisAmigos{
        width: 100%;
    }
    .contenedorMisAmigos table{
        margin: 35px 0px 0px 0px;
    }
    .btnEditarPerfil{
        margin-top: 0px;
    }
}