.contenedorMisAmigos{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(100deg,#3a7bb8,#121a80);
}

.contenedorMisAmigos h1{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family: "Unbounded", sans-serif;
    font-size: 70px;
    color: #fff;
    background: linear-gradient(#04172c,#090d47);
    box-shadow: 5px 15px 20px #000;
    position: relative;
    top: 40px;
}


.contenedorMisAmigos .operacionesMisAmigos{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 7%;
    padding-left: 15%;
    padding-right: 10%;
}

.contenedorMisAmigos .operacionesMisAmigos p{
    background-color: #000;
    color: #fff;
    padding: 15px;
    box-shadow: 10px 5px 20px #000;
}

.contenedorMisAmigos .operacionesMisAmigos form{
    display: flex;
    align-items: center;
    gap: 20px;
}

.contenedorMisAmigos .operacionesMisAmigos form input[type="text"]{
    width: 200px;
}

.contenedorMisAmigos .operacionesMisAmigos form input[type="submit"]{
    display: block;
    width: 100px;
}

.contenedorSinAmigos{
    height: 280px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contenedorMisAmigos .sinAmigos{
    width: 600px;
    color: #fff;
    height: 100%;
}

.contenedorMisAmigos .sinAmigos h1{
    font-size: 30px;
    height: 100px;
}

.contenedorMisAmigos table{
    box-shadow: 5px 5px 15px #000;
    width: 1180px;
    margin-top: 20px;
    margin-left: 11%;
}

.contenedorMisAmigos table td{
    width: 100px;
}