.contenedorNovedades{
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(-45deg, #6a93ff, #cce4ff, #93baff, #6a93ff);
}

.contenedorNovedades h1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 300px;
    font-size: 100px;
    color: #fff;
    font-family: "Unbounded", sans-serif;
    background: linear-gradient(#04172c,#090d47);
    box-shadow: 5px 15px 20px #000;
}

.novedades{
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-content: center;
    place-items: center;
    justify-content: center;
    padding-left: 90px;
    padding-bottom: 60px;
}

.novedad{
    margin-top: 30px;
    width: 300px;
    height: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
    background: linear-gradient(20deg,#121a80,#101010);
    box-shadow: 6px 10px 12px #000;
    border-radius: 20px;
    color: #fff;
    border: solid 1px #fff;
}

.novedad:hover{
    transform: scale(1.05);
}

.contenedorNoHayNovedades{
    height: 300px;
    width: 550px;
    padding: 20px;
    margin: 40px auto 0 auto;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #000;
    background: linear-gradient(200deg,#e91b1b,#a52b1c);
}