@media screen and (max-width:480px){
    .contenedorVerificarUsuario{
        height: auto;
    }
    .contenedorVerificarUsuario h1{
        font-size: 40px;
    }
    .contenedorVerificarUsuario img{
        width: 120px;
    }
    .contenedorVerificarUsuario form{
        margin-top: 20px;
        width: 100%;
        height: auto;
    }
    .contenedorVerificarUsuario form input[type="text"]{
        width: 350px;
    }
    .formularioBusqueda{
        width: 200px;
        left: 23%;
    }
    header{
        position: initial;
        height: 100px;
    }
    .perfilHeader{
        margin-right: 15px;
    }
    .perfilHeader img{
        width: 60px;
        height: 60px;
    }
    .perfilHeaderDatos{
        display: none;
    }
    aside{
        display: none;
        padding: 0px;
        height: 100vh;
        position: fixed;
        animation: movimientoHeader ease-in-out .3s forwards;
    }
    @keyframes movimientoHeader {
        from{
            transform: translateX(-100px);
        }
        to{
            transform: translateX(0px);
        }
    }
    @keyframes cerrarMenu{
        from{
            transform: translateX(0px);
            opacity: 1;
        }
        to{
            transform: translateX(-100px);
            opacity: 0;
        }
    }
    .enlaceMenu{
        display: none;
    }
    .btnAbrirMenu{
        border: none;
        width: 60px;
        height: 60px;
        padding: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 20px;
        top: 20px;
        background-color: transparent;
        color: #fff;
    }
    nav ul li{
        display: flex;
        justify-content: center;
        margin: auto;
        text-align: center;
        align-items: center;
    }
    .btnCerrarMenu{
        border: none;
        width: 45px;
        height: 45px;
        padding: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #fff;
        background-color: transparent;
    }
    .btnCerrarMenu i{
        font-size: 35px;
    }
    nav{
        align-items: center;
    }
    nav ul{
        align-items: center;
        gap: 28px;
        position: initial;
    }
    nav ul li{
        left: 20%;
    }
    nav .iconoSeccionNav{
        width: 35px;
    }
    nav ul li:hover span{
        display: none;
    }
    .contenedorLogin{
        min-height: 100vh;
    }
    .ingresoMensajeBienvenida{
        text-align: center;
    }
    .contenedorCrearPerfil{
        min-height: 130vh;
    }
    .contenidoCrearPerfil{
        flex-direction: column;
        width: 320px;
        height: auto;
        padding: 0px 30px 0px 30px;
    }
    .textoCrearPerfil{
        width: 320px;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
        height: 300px;
    }
    .parrafoCrearPerfil{
        width: 300px;
        margin: auto;
        margin-bottom: 15px;
    }
    .formCrearPerfil{
        width: 270px;
    }
    .contenedorFormCrearPerfil form{
        padding: 0px 0px 20px 20px;
    }
    .contenedorFormCrearPerfil form input{
        width: 300px;
        background-color: #000;
        color: #fff;
    }
    .contenedorInicio{
        padding-top: 70px;
    }
    .btnPublicar{
        right: 10px;
    }
    .contenedorPublicaciones{
        padding-top: 0;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .contenedor-publicacion{
        margin-top: 0px;
    }
    .contenedorSinPublicaciones{
        width: 345px;
    }
    .sinPublicaciones{
        text-align: center;
    }
    .publicacion{
        width: 350px;
    }
    .contenedorAgregarPublicacion{
        height: 100vh;
    }
    .contenidoAgregarPublicacion{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 35px 0 35px 0;
        width: 320px;
        padding: 15px;
    }
    .formAgregarPublicacion{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 300px;
        overflow-x: hidden;
    }
    .descripcion-publicacion{
        width: 100%;
    }
    .contenedorMiPerfil{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        width: 100%;
        padding-top: 0;
    }
    .contenedorMiPerfil .formMiPerfil{
        width: 100%;
    }
    .misPublicaciones{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
        margin-top: 45px;
        padding-bottom: 60px;
    }
    .encabezadoPerfil{
        height: 250px;
    }
    .encabezadoPerfil .fotoPerfil{
        width: 170px;
        height: 170px;
        border-radius: 9999px;
    }
    .encabezadoPerfil .fotoPerfil img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .datos-personales{
        display: flex;
        flex-direction: column;
        height: 300px;
        gap: 10px;
    }
    .btnEditarPerfil{
        margin-top: 35px;
    }
    .contenedorBusquedaUsuarios{
        padding-top: 10px;
    }
    .contenedorBusquedaUsuarios h1{
        font-size: 40px;
    }
    .usuario{
        display: flex;
        flex-direction: column;
        width: 300px;
        padding: 15px;
    }
    .contenedorUsuario{
        min-height: 100vh;
    }
    .usuario-datos{
        flex-direction: column;
        padding-top: 30px;
        height: auto;
    }
    .usuario-datos img{
        width: 240px;
        height: 240px;
    }
    .nombre-usuario h1{
        font-size: 45px;
    }
    .nombre-usuario span{
        font-size: 20px;
        font-weight: lighter;
    }
    .nombre-usuario p{
        font-size: 22px;
    }
    .publicaciones-usuario{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .contenedorMisAmigos{
        min-height: 130vh;
        max-width: 100%;
        padding: 0px;
        background: linear-gradient(350deg,#3a7bb8,#121a80);
        overflow-x: auto;
    }
    .contenedorMisAmigos .titulo{
        top: 0;
        font-size: 50px;
        height: 160px;
    }
    .contenedorMisAmigos .amigosResponsive{
        width: 280px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 20px;
        padding: 15px 15px 15px 15px;
        border: solid 2px #fff;
        background-color: #121a80;
        box-shadow: 15px 15px 12px #000;
    }
    .contenedorMisAmigos .amigosResponsive img{
        width: 100%;
        border-radius: 99999px;
        height: 240px;
        object-fit: cover;
    }
    .contenedorMisAmigos .amigosResponsive .datosAmigo{
        display: flex;
        flex-direction: column;
        color: #fff;
        margin-top: 15px;
        border-top: solid 2px #fff;
    }
    .contenedorMisAmigos .amigosResponsive .datosAmigo a{
        text-decoration: none;
        color: #8bb7e0;
    }
    .contenedorMisAmigos .operacionesMisAmigos{
        gap: 10px;
        max-width: 350px;
        padding-left: 0;
        padding-right: 0;
    }
    .contenedorMisAmigos .operacionesMisAmigos p{
        width: 100px;
    }
    .contenedorMisAmigos .operacionesMisAmigos form{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .contenedorMisAmigos table{
        display: none;
    }
    .contenedorSinAmigos{
        height: 600px;
        width: 400px;
    }
    .btnEditarPerfil{
        margin-top: 0px;
    }
    .contenedorNovedades h1{
        font-size: 40px;
        height: 170px;
    }
    .contenedorNovedades .novedades{
        padding-left: 0;
        display: flex;
        flex-direction: column;
    }
    .contenedorNovedades .novedades .novedad{
        width: 320px;
        padding-top: 10px;
    }
    .contenedorNovedades .novedades .novedad p{
        font-size: 18px;
    }
    .contenedorNoHayNovedades{
        width: 300px;
    }
    .contenidoAgregarPublicacion{
        padding-top: 0;
    }
}